<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="gameSet" value=""/>
    <add key="playerSet" value=""/>
    <add key="actionSet" value=""/>
    <add key="quickvolumeSet" value=""/>
    <add key="ignoremodifiersSet" value=""/>
    <add key="emergencySet" value=""/>
    <add key="radioSet" value=""/>
    <add key="interiorsSet" value=""/>
    <add key="announcerSet" value=""/>
    <add key="kaufmanSet" value=""/>
    <add key="menuSet" value=""/>
      
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>