<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="gameSet" value="False"/>
    <add key="playerSet" value="False"/>
    <add key="actionSet" value="False"/>
    <add key="quickvolumeSet" value="False"/>
    <add key="ignoremodifiersSet" value="False"/>
    <add key="emergencySet" value="False"/>
    <add key="radioSet" value="False"/>
    <add key="interiorsSet" value="False"/>
    <add key="announcerSet" value="False"/>
    <add key="kaufmanSet" value="False"/>
    <add key="menuSet" value="False"/>
    <add key="spotifyMixerMaxVolume" value="100"/>
    <add key="defaultAudioSource" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>