<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GTASARadioExternal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GTASARadioExternal.Properties.Settings>
            <setting name="gameSet" serializeAs="String">
                <value>SA</value>
            </setting>
            <setting name="playerSet" serializeAs="String">
                <value>Foobar</value>
            </setting>
            <setting name="actionSet" serializeAs="String">
                <value>Mute</value>
            </setting>
            <setting name="quickvolumeSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ignoremodifiersSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="emergencySet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="interiorsSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="announcerSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kaufmanSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="menuSet" serializeAs="String">
                <value>False</value>
            </setting>
        </GTASARadioExternal.Properties.Settings>
    </userSettings>
</configuration>